nav ul a {
    color: #505050;
    display: inline;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

nav ul li {
    padding-left: 10px;
}
li.active a {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

nav ul li.active {
    background-color:white;
}
.brand-logo img {
    width: 45px;
    margin-left: 10em;
}

.header-menu {
    margin-right: 30em;
}

nav ul a:hover {
    background-color: rgb(90, 90, 90);
    color: white;
    border-radius: 10px;
}

.curve {
    position: absolute;
    right: 0;
    z-index: 3;
    width: 35%;
    height: 100vh;
    background: url(../pic/curve.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider {
    position: relative;
    height: 400px;
    width: 100%
}

.slider.fullscreen {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.slider.fullscreen ul.slides {
    height: 100%
}

.slider.fullscreen ul.indicators {
    z-index: 2;
    bottom: 30px
}

.slider .slides {
    background-color: #9e9e9e;
    margin: 0;
    height: 400px
}

.slider .slides li {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 75%;
    height: inherit;
    overflow: hidden
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center
}

.slider .slides li .caption {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    opacity: 0
}

.slider .slides li .caption p {
    color: #e0e0e0
}

.slider .slides li.active {
    z-index: 2
}

.slider .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0
}

.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 12px;
    background-color: #e0e0e0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%
}

.slider .indicators .indicator-item.active {
    background-color: #4CAF50
}
.big-menu {
    position: absolute;
    z-index: 5;
    left: 62px;
}

.big-menu li a.btn-floating {
    width: 120px !important;
    height: 120px !important;
    margin-top: 100%;
}
.big-menu li img {
    width: 120px;
}
.big-menu a.ket {
    position: absolute;
    left: 135px;
    margin-top: -90px;
    font-size: 30px;
    font-weight: bold;
}
img.footer-logo {
    width: 100px;
}
img.footer-download {
    width: 100%;
}

/* mobile css */
@media only screen and (max-width: 992px) {
    .brand-logo img {
        width: 45px;
        margin: 0;
    }
    .slider .slides li {
        width: 100%;
    }
}